<div class="wrapper py-5">
  <h3 class="text-center">Terms and conditions</h3>

  <div>
    <p><b>Last Updated:</b> 1st August 2024</p>
    <p>
      By accessing and using our website, you agree to comply with the following
      terms and conditions. Please read them carefully before using the site.
    </p>
    <div class="mb-3">
      <p>
        <b>1. Introduction</b>
      </p>
      <p>
        These terms and conditions govern your use of our website; by using our
        website, you accept these terms and conditions in full.
      </p>
    </div>

    <div class="mb-3">
      <p>
        <b>2. Intellectual Property Rights</b>
      </p>
      <p>
        Unless otherwise stated, SGIVS Global owns the intellectual property
        rights in the website and material on the website. Subject to the
        license below, all these intellectual property rights are reserved.
      </p>
    </div>

    <div class="mb-3">
      <p><b>3. License to Use Website</b></p>
      <p>
        You may view, download for caching purposes only, and print pages or
        other content from the website for your own personal use, subject to the
        restrictions set out below and elsewhere in these terms and conditions.
      </p>
      <p>You must not:</p>
      <ul>
        <li>
          Republish material from this website (including republication on
          another website).
        </li>
        <li>Sell, rent, or sub-license material from the website.</li>
        <li>
          Reproduce, duplicate, copy, or otherwise exploit material on our
          website for a commercial purpose.
        </li>
        <li>Edit or otherwise modify any material on the website</li>
      </ul>
    </div>

    <div class="mb-3">
      <p><b>4. Acceptable Use</b></p>
      <p>
        You must not use our website in any way that causes, or may cause,
        damage to the website or impairment of the availability or accessibility
        of the website. You must not use our website in any way that is
        unlawful, illegal, fraudulent, or harmful.
      </p>
    </div>

    <div class="mb-3">
      <p><b>5. User Accounts</b></p>
      <p>
        If you create an account on our website, you are responsible for
        maintaining the confidentiality of your account and password. You agree
        to accept responsibility for all activities that occur under your
        account or password.
      </p>
    </div>

    <div class="mb-3">
      <p><b>6. Limitation of Liability</b></p>
      <p>
        SGIVS Global will not be liable for any direct, indirect, or
        consequential loss or damage arising under these terms and conditions or
        in connection with our website, whether arising in tort, contract, or
        otherwise.
      </p>
    </div>

    <div class="mb-3">
      <p><b>7. Indemnity</b></p>
      <p>
        You hereby indemnify SGIVS Global and undertake to keep SGIVS Global
        indemnified against any losses, damages, costs, liabilities, and
        expenses (including without limitation legal expenses and anyamounts
        paid by SGIVS Global to a third party in settlement of a claim or
        dispute) incurred or suffered by SGIVS Global arising out of any breach
        by you of any provision of these terms and conditions.
      </p>
    </div>

    <div class="mb-3">
      <p><b>8. Variation </b></p>
      <p>
        SGIVS Global may revise these terms and conditions from time to time.
        Revised terms and conditions will apply to the use of our website from
        the date of publication of the revised terms and conditions on our
        website. Please check this page regularly to ensure you are familiar
        with the current version.
      </p>
    </div>

    <div class="mb-3">
      <p><b>9. Payment Policy</b></p>
      <p>
        All payments must be made in full at the time of purchase. Prices for
        our products and services are subject to change without notice. We
        reserve the right to refuse or cancel any orders placed for products or
        services listed at an incorrect price.
      </p>
      <p><b>Security of Payments</b></p>
      <p>
        We take the security of your payment information seriously. All
        transactions are processed through secure and encrypted payment
        gateways. We do not store your credit card information on our servers.
      </p>
    </div>

    <div class="mb-3">
      <p><b>10. Refund Policy</b></p>
      <p>
        Our goal is to ensure your complete satisfaction with our services. All
        sales made through our website are final. Once a purchase has been
        completed, no refunds, exchanges, or cancellations will be permitted,
        except where required by applicable law. By making a purchase, you
        acknowledge and agree to this No Refund Policy. It is the responsibility
        of the customer to ensure that they have carefully reviewed and
        understood the product or service description before making a purchase.
      </p>
    </div>

    <div class="mb-3">
      <p><b>11. Governing Law</b></p>
      <p>
        These terms and conditions will be governed by and construed in
        accordance with the laws of UAE and any disputes relating to these terms
        and conditions will be subject to the exclusive jurisdiction of the
        courts of UAE.
      </p>
    </div>

    <div>
      <p><b>12. Contact Information</b></p>
      <p>
        If you have any questions about these terms and conditions, please
        contact us at: <a href="mailto:info@sgivs.com">

          info&#64;sgivs.com
        </a>
      </p>
    </div>
  </div>
</div>
